@use 'variables' as *;

.component {
    padding: 0.5rem;
    border: 1px solid #ccc;
    min-height: $component-min-height;
}

h3, h5 {
    margin: 0;
}

h3 {
    font-size: 1.725rem;
}

h5 {
    font-size: 1.125rem;
}

.value-grid {
    display: grid;
    max-height: 150px;
    min-width: max-content;
    margin: 0 4px;
}

.value {
    display: flex;
    margin-bottom: auto;

    h5 {
        padding-top: 4px;
        width: 70px;

        @media screen and (min-width: 0px) and (max-width: calc($layout-breakpoint-sm - 0.2px)) {
            width: 40% !important;
        }
    }
}
