@use 'variables' as *;

.component {
    padding: 0.5rem;
    border: 1px solid #ccc;
    min-height: $component-min-height;
}

h3, h5 {
    margin: 0;
}

h3 {
    font-size: 1.725rem;
}

h5 {
    font-size: 1.125rem;
}

.value-grid {
    display: grid;
    max-height: 150px;
    min-width: max-content;
    margin: 0 4px;
}

.value {
    display: flex;
    margin-bottom: auto;

    h5 {
        padding-top: 4px;
        width: 70px;

        @media screen and (min-width: 0px) and (max-width: calc($layout-breakpoint-sm - 0.2px)) {
            width: 40% !important;
        }
    }
}





// Status component
#status {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;

    #batt,
    #gps,
    #ignit {
        height: 60px;
    }

    #conn {
        height: 45px;
    }
}

// Angle component


// Other component
#other {
    .value-grid {
        height: 100%;
        max-height: 200px;
    }

    h5 {
        width: 140px;
    }
}

// Console component
#console {
    display: grid;
    grid-template-rows: max-content 1fr;

    &>h5 {
        margin-bottom: 5px;
    }

    #console-text {
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow-y: scroll;
        padding: 5px 10px;

        p {
            margin: 0;
        }
    }
}
