// Custom variables
$header-height: 60px; // [24, 96]px
$header-bg: black;

$component-min-height: 160px;

$min-width: 330px;

// Header breakpoints (display title and options)
$header-breakpoint-sm: calc($header-height * 8); // Only logo
$header-breakpoint-md: calc($header-height * 13); // Logo and title

// Layout breakpoints (grid placement)
$layout-breakpoint-sm: 560px;
$layout-breakpoint-md: 820px;
