# Node.js packages
**/node_modules/*

# SCSS map files
*css.map

# Log files
*.log
backend/logs/*
backend/dist/log*.txt

# Python cache files
**/__pycache__/*

# Visual studio config
.vs/*
.vscode/*

# Idea config
.idea/*
