.component {
    padding: 0.5rem;
    border: 1px solid #ccc;
    min-height: 155px;
}

h3, h5 {
    margin: 0;
}

h3 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.2rem;
}

.value-grid {
    display: grid;
    max-height: 150px;
    min-width: max-content;
    margin: 0 4px;
}

.value {
    display: flex;
    margin-bottom: auto;

    h5 {
        padding-top: 4px;
        width: 80px;

        @media screen and (min-width: 0px) and (max-width: 559px) {
            width: 45%;
        }
    }
}

#status {
    &>div {
        display: grid;
        height: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        justify-items: center;
        align-items: center;
    }

    #batt,
    #gps,
    #ignit {
        height: 60px;
    }

    #conn {
        height: 45px;
    }
}

#other {
    .value-grid {
        height: 100%;
        max-height: 200px;
    }

    h5 {
        width: 140px;

        @media screen and (min-width: 0px) and (max-width: 559px) {
            width: 45%;
        }
    }
}
