@use "sass:map";
@use './variables' as *;

header {
    min-width: 330px;
    background-color: $header-bg;

    #top-header {
        height: $header-height;
    }

    h1 {
        margin: 0.25rem 0 0.4rem 0;
        font-family: OpenSans-SemiBold;
        font-size: calc($header-height * 0.6);
        letter-spacing: -1px;
    }

    #logo-gaul {
        height: calc($header-height / 2);
        width: calc($header-height * 100 / 48);
        margin: 0 calc($header-height / 6);
    }
}

#expand-ico {
    transition: transform 0.3s;
}

// Close the header when screen bigger than sm breakpoint
@media screen and (max-width: map.get($grid-breakpoints, "sm")) {
    .expanded {
        header {
            height: $header-height * 2;
        }

        .grid {
            height: calc(100vh - $header-height * 2);
        }

        #header-options {
            display: flex !important;
            height: $header-height !important;
            position: absolute;
            top: $header-height;
            right: 0;
        }
    
        #expand-ico {
            transform: rotate(0.5turn);
        }
    }
}