.grid {
    display: grid;
    height: calc(100vh - 48px);
    min-height: 480px; //160 (.component min height) * 3
}

.double {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

@media screen and (min-width: 0px) and (max-width: 559px) {
    .grid {
        grid-template-areas:
            "map"
            "chart"
            "status"
            "angle"
            "other"
            "console";
    }

    .double {
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        min-height: 300px !important; //160 (.component min height) * 2
    }
}

@media screen and (min-width: 560px) and (max-width: 820px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "map status"
            "chart chart"
            "angle angle"
            "other console";
    }
}

@media screen and (min-width: 820px) {
    .grid {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "map chart"
            "status angle"
            "other console";
    }
}

#map {
    grid-area: map;
}

#chart {
    grid-area: chart;
}

#status {
    grid-area: status;
}

#angle {
    grid-area: angle;
}

#other {
    grid-area: other;
}

#console {
    grid-area: console;
}