.component-container {
    padding: 0.5rem;
    min-width: 330px;
    height: 33.33%;
    min-height: 180px;
    border: 1px solid var(--nav-bar-color);
    border-top: 0;
    border-right: 0;
    background-color: var(--body-color);
}

.value-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0.8rem 0.5rem;
    width: 100%;
}

@media (max-width: 991px) {
    .double-container {
        min-height: 360px !important;
        height: 50% !important;
    }

    #chart-container {
        height: 60% !important;
    }
}

#map {
    height: calc(100% - 42px);
}

#ori-view>canvas {
    height: 100%;
    border: 1px solid #CCC;
}

#alt-text,
#speed-text,
#acc-text {
    cursor: pointer;
}

#console-text {
    height: calc(100% - 30px);
    background-color: var(--body-color);
}