.value-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--nav-bar-color);
    width: 50%;
    min-width: 300px;
    max-width: 450px;
    min-height: 50px;
    max-height: 70px;   
}

#console-container {
    width: 50%;
    min-width: 250px;
    max-width: 450px;
    max-height: 200px;
}

@media (max-width: 600px) {
    .value-container {
        width: 100%;
    }

    #console-container {
        width: 100%;
    }
}