main {
    display: flex;
    flex-wrap: wrap;
}

#my-navbar {
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
}

#my-navbar>h1 {
    margin: 0 10px 0 10px;
}

#my-navbar>button,
#my-navbar>a {
    width: 8vw;
    min-width: 80px;
    margin: 10px 2vw 0 2vw;
}