body {
    background-color: #f5e6e5;
}

#my-navbar {
    background-color: #2f345a;
    min-width: 330px;
}

h1 {
    font-size: 2.5rem;
    color: white;
}

h5 {
    margin: 0;
    font-size: x-large;
}

/* header {
    height: 72px;
} */

main {
    height: calc(100vh - 72px);
}

.component-container {
    padding: 0.5rem;
    min-width: 330px;
    height: 33.33%;
    min-height: 180px;
    border: 1px solid #2f345a;
    border-top: 0;
    border-right: 0;
    background-color: #f5e6e5;
}

@media (max-width: 991px) {
    .double-container {
        min-height: 360px !important;
        height: 50% !important;
    }

    #chart-container {
        height: 60% !important;
    }
}

.value-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0.8rem 0.5rem;
    width: 100%;
}

#map {
    height: calc(100% - 42px);
}

#ori-view>canvas {
    height: 100%;
    border: 1px solid #bdb1ac;
}

#alt-text,
#speed-text,
#acc-text {
    cursor: pointer;
}

#console-text {
    height: calc(100% - 30px);
    background-color: #f6e9e7;
}